<a href="https://colab.research.google.com/github/FaridBaylarzade07/DataScience/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is ' + name + '. ' + 'Your age is ' + age)

What is your name? Hulusi
What is your age? 43
Your name is Hulusi. Your age is 43

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if (a==b):
  print('a and b are equal')
else:
  print('a and b are not equal')

a and b are not equal

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if (a>b):
  print('a is greater than b')
elif (a==b):
  print('a is equal to b')
else:
  print('a is less than b')

a is less than b

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6,1):
  print(k)

1
2
3
4
5

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1
i=5
while i > 0:
  print(i)
  i-=1

5
4
3
2
1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.

for k in range(10,-1,-2):
  if k==8:
    continue;
  else:
   print(k)

10
6
4
2
0

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
current_year = 2022;

def age(dateOfBirth):
  return current_year - dateOfBirth

print(age(1944))

78

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(n,k):
    return n + k
  def substraction(n,k):
    return n - k
  def multiplication(n,k):
    return n * k
  def division(n,k):
    return n / k

print(arithmetic.addition(3,2))
print(arithmetic.substraction(3,2))
print(arithmetic.multiplication(3,2))
print(arithmetic.division(3,2))

5
1
6
1.5

In [ ]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
k=int(input('Enter number'))

def summation(i):
  cre = i + 1
  res = 0;
  for n in range(0,cre):
     res = res + n
  return res

print(summation(4))

Enter number4
10

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
import numpy as np

iList = []

for n in range(10):
  iList.append(np.round(np.random.rand(), 4))
print(iList)
print(iList[:3])

[0.505, 0.327, 0.7475, 0.6619, 0.7236, 0.0178, 0.3942, 0.0071, 0.578, 0.0474]
[0.505, 0.327, 0.7475]

In [ ]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15

k=int(input('Enter number'))

def divisionArray(i):
  nList = [];
  for n in range(1,i+1,1):
    if(n%3==0):
      nList.append(n);
    else:
      continue;
  return nList; sep = ', '

divisionArray(k)
print(divisionArray(k))

Enter number13
[3, 6, 9, 12]